/* NOTES to contributors:
 * use 4 spaces intends, and keep code ALIGNED and ORDERED */

/* default */

* {

    engine: none;

    background-clip: padding-box;
    background-origin: border-box;
    border-width: 1px;
 
    padding: 1px; 
    
    -EelEditableLabel-cursor-aspect-ratio: 0.1;
    -EelEditableLabel-cursor-color: @fg_color;

    -GtkWidget-cursor-color: @fg_color;
    -GtkWidget-cursor-aspect-ratio: 0.1;
    -GtkWidget-focus-line-width: 1;
    -GtkWidget-focus-padding: 0;
    -GtkWidget-interior-focus: 1;
    -GtkWidget-link-color: @link_color;
    -GtkWidget-visited-link-color: @visited_link_color; 
    
    -GtkExpander-expander-size: 16;

    -GtkIMHtml-hyperlink-color: @link_color;
    
    -GtkPaned-handle-size: 1;    
        
    -GtkTextView-error-underline-color: @error_color;
    -GtkToolButton-icon-spacing: 6;
    -GtkToolItemGroup-expander-size: 11;
    -GtkToolbar-internal-padding: 1;

    -GtkWidget-focus-padding: 0;
    -GtkWidget-focus-line-width: 1;
    -GtkWidget-link-color: @link_color;
    -GtkWidget-visited-link-color: @visited_link_color;

    -GtkWindow-resize-grip-width: 0;
    -GtkWindow-resize-grip-height: 0;

    -WnckTasklist-fade-overlay-rect: 0;    
}

GtkWindow {
    color: @fg_color;
}

* {
    /* inherit the color from parent by default */
    color: inherit;
    background-color: @bg_color;
}

/**********
 * states *
 **********/

*:insensitive {
    color: shade(@insensitive_fg_color, 1.1);
}

*:active {
    background-color: shade(@bg_color, 0.9);
}

*:active:hover:insensitive {
}

*:active:insensitive {
}

*:hover {
}

*:hover:insensitive {
}

*:selected,
*:selected:focused {
    background-color: alpha(@selected_bg_color, 0.9);
    color: @fg_color;
}


/*************
 * assistant *
 *************/

GtkAssistant .sidebar .highlight {
    font: bold;
}

GtkAssistant .sidebar {
    background-color: @bg_color;
    border-right-color: shade(@bg_color, 0.7);
    border-radius: 0;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    padding: 12px;
    color: @fg_color;
}


/**************
 * background *
 **************/

.background {
    background-color: @bg_color;
    border-width: 0px;
}


/**********
 * button *
 **********/
 
* {
    -GtkButton-child-displacement-x: 1;
    -GtkButton-child-displacement-y: 1;
    -GtkButton-default-border: 0;
    -GtkButton-image-spacing: 0;
    -GtkButton-interior-focus: true;
    -GtkButton-inner-border: 1;
}    
 
.button {
    padding: 2px 12px;
}

GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button:insensitive {
    padding: 2px 2px;
}

GtkComboBox .button {
    padding: 2px 0px 2px 3px;
    }

/* borders */

.button, .button:active {
    border-style:solid;
    box-shadow: inset 1px 0px shade(@bg_color, 1.15),
		        inset 0px 1px shade(@bg_color, 1.20),
		        inset -1px 0px shade(@bg_color, 1.15),
		        inset 0px -1px shade(@bg_color, 1.05);
    border-color: shade(@bg_color, 0.8);
}



.button:insensitive {
    border-style:solid;
	border-color: shade(@bg_color, 0.90);
    box-shadow: inset 1px 0px shade(@bg_color, 1.1),
		        inset 0px 1px shade(@bg_color, 1.1),
		        inset -1px 0px shade(@bg_color, 1.1),
		        inset 0px -1px shade(@bg_color, 1.1);
}


/* background */

GtkSwitch.slider,
.button {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@bg_color, 1.1)),
                                     to (shade(@bg_color, 0.90)));
    color: @fg_color;
   }

.button:active {
background-color: @bg_color;
color: shade(@fg_color, 0.6);
}

.button:hover,
.button:active:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@bg_color, 1.35)),
                                     to (shade(@bg_color, 1.1)));
    color: @fg_color;
}

GtkSwitch.slider:insensitive,
.button:insensitive {
   background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@bg_color, 1.05)),
                                     to (shade(@bg_color, 0.99)));

}

/* middle button */
.linked .entry,
.linked .button,
.linked .button:active,
.linked .button:active:hover,
.linked .button:insensitive,
.primary-toolbar .linked .entry,
.primary-toolbar .linked .button,
.primary-toolbar .linked .button:active,
.primary-toolbar .linked .button:active:hover,
.primary-toolbar .linked .button:insensitive {
    border-width: 1px;
    border-right-width: 0px;

    border-radius: 0;
}

/* leftmost button */
.linked .entry:first-child,
.linked .button:first-child,
.linked .button:active:first-child,
.linked .button:active:hover:first-child,
.linked .button:insensitive:first-child,
.primary-toolbar .linked .entry:first-child,
.primary-toolbar .linked .button:first-child,
.primary-toolbar .linked .button:active:first-child,
.primary-toolbar .linked .button:active:hover:first-child,
.primary-toolbar .linked .button:insensitive:first-child {
    border-width: 1px;
    border-right-width: 0px;

    border-radius: 0px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

/* rightmost button */
.linked .entry:last-child,
.linked .button:last-child,
.linked .button:active:last-child,
.linked .button:active:hover:last-child,
.linked .button:insensitive:last-child,
.primary-toolbar .linked .entry:last-child,
.primary-toolbar .linked .button:last-child,
.primary-toolbar .linked .button:active:last-child,
.primary-toolbar .linked .button:active:hover:last-child,
.primary-toolbar .linked .button:insensitive:last-child {
    border-width: 1px;
    border-radius: 0px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* linked single button */
.linked .entry:only-child,
.linked .button:only-child,
.linked .button:active:only-child,
.linked .button:active:hover:only-child,
.linked .button:insensitive:only-child,
.primary-toolbar .linked .entry:only-child,
.primary-toolbar .linked .button:only-child,
.primary-toolbar .linked .button:active:only-child,
.primary-toolbar .linked .button:active:hover:only-child,
.primary-toolbar .linked .button:insensitive:only-child {
    border-width: 1px;

    border-radius: 0px;
}


/****************
 * cell and row *
 ****************/

.cell {
    background-color: @base_color;
    border-radius: 0;
    border-width: 0px;
}

row:selected,
row:selected:focus {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@selected_bg_color, 1.09)),
                                     color-stop (0.50, shade(@selected_bg_color, 1.01)),
                                     to (shade(@selected_bg_color, 0.91)));
    border-color: shade(@selected_bg_color, 0.97);
    border-style: solid;
    border-width: 1px 0px;
    color: @fg_color;
}




/*******************
 * check and radio *
 *******************/
 
* {
    -GtkCheckButton-indicator-size: 12;
    -GtkCheckMenuItem-indicator-size: 12;
}

.check,
.radio,
.check:insensitive,
.radio:insensitive,
.check:active:insensitive,
.radio:active:insensitive {
    border-style: none;
    background-color: transparent;
}

GtkCheckButton:hover,
GtkCheckButton:active:hover,
GtkCheckButton:selected,
GtkCheckButton:selected:focus {
    background-color: transparent;
}

GtkCheckButton:active  {
color: shade(@fg_color, 0.6);
}

.menuitem.check,
.menuitem.radio,
.menuitem.check:hover,
.menuitem.radio:hover,
.menuitem.check:insensitive,
.menuitem.radio:insensitive {
    background-image: none;
    background-color: transparent;
    border-style: none;
}

.menuitem.check:active,
.menuitem.radio:active {
    background-color: transparent;
    border-style: none;
}


/*****************
 * column-header *
 *****************/

column-header .button,
column-header .button:active {
    border-radius: 0;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    
}

column-header .button {
    background-image: none;
    border-color: shade(@bg_color, 0.85);
    border-bottom-color: shade(@bg_color, 0.8);
    padding: 0px 2px;
}
column-header .button{
    box-shadow: inset -1px 0px shade(@bg_color, 1.1);
}


column-header:last-child .button {
    border-width: 0px 0px 1px 0px;    
    box-shadow: none;
}


/****************
 * drawing area *
 ****************/

GtkDrawingArea {
    background-color: transparent;
}


/************
* gucharmap *
*************/

GucharmapChartable {
    background-color: @base_color;
}

GucharmapChartable:active,
GucharmapChartable:focus,
GucharmapChartable:selected {
    background-color: @selected_bg_color;
    color: @fg_color;
}


/***********
 * gtkhtml *
 ***********/

* {
-GtkHTML-link-color: @link_color;
}

GtkHTML {
    background-color: @base_color;
    color: @fg_color;
}


/***********
* calendar *
************/

GtkCalendar {
    padding: 0px;
}

GtkCalendar.view {
    background-image: none;
    background-color: @base_color;
    border-radius: 0;
    border-color: shade(@bg_color, 0.7);
    border-style: solid;
    border-width: 1px;
}

GtkCalendar.header {
    border-radius: 0;
    background-image: none;
    background-color: transparent;
    border-color: shade(@bg_color, 0.7);
    border-style: solid;
    border-width: 1px;
}

GtkCalendar.button,
GtkCalendar.button:insensitive {
    background-image: none;
    background-color: transparent;
}

.highlight,
GtkCalendar.highlight {
    background-color: transparent;
    color: shade(@fg_color, 0.6);
    border-radius: 0;
    padding: 0px;
    border-width: 0px;
}


/******************
 * combobox entry *
 ******************/
 
.primary-toolbar GtkComboBox.combobox-entry .entry,
.primary-toolbar GtkComboBox.combobox-entry .entry:active,
.primary-toolbar GtkComboBox.combobox-entry .entry:focus,
.primary-toolbar GtkComboBox.combobox-entry .entry:insensitive,
GtkComboBox.combobox-entry .entry,
GtkComboBox.combobox-entry .entry:active,
GtkComboBox.combobox-entry .entry:focus,
GtkComboBox.combobox-entry .entry:insensitive {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-width: 1px 0px 1px 1px;
    
}


/*********
 * entry *
 *********/

* {
    -GtkEntry-inner-border: 1;
    -GtkEntry-progress-border: 2;
}
 
.entry {
    background-image: none;
    background-color: @base_color;
    border-color: shade(@bg_color, 0.7);
    border-radius: 0px;
    border-style: solid;
    padding: 3px 1px 3px 6px;
  
    color: @fg_color;
}

.entry:selected,
.entry:selected:focus {
    background-color: @selected_bg_color;

    color: @fg_color;
}

.entry:insensitive {
    background-color: shade(@bg_color, 0.98);
    background-image: none;
    border-color: shade(@bg_color, 0.8);
    color: shade(@fg_color, 0.6);
}


/************
 * expander *
 ************/

.expander {
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    border-color: alpha(@fg_color, 0.5);

    color: alpha(@fg_color, 0.6);
    background-color: @base_color;
}

.expander:hover {
    background-color: shade(@bg_color, 1.02);
}


/*********
 * frame *
 *********/

.frame {
    border-radius: 0px;
    border-style: solid;
    border-color: shade(@bg_color, 0.7);
}


/************
 * iconview *
 ************/

GtkIconView {
    background-color: transparent;
}

GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focus {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@selected_bg_color, 1.09)),
                                     color-stop (0.50, shade(@selected_bg_color, 1.01)),
                                     to (shade(@selected_bg_color, 0.91)));
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;

    color: @fg_color;
    border-color: shade(@bg_color, 0.7);
}

.view.rubberband,
.rubberband {
    background-color: alpha(@selected_bg_color, 0.3);
    border-color: @selected_bg_color;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
}


/*********
 * image *
 *********/

GtkImage,
GtkImage:active,
GtkImage:insensitive {
    background-color: transparent;
}


/*********
 * label *
 *********/

GtkLabel,
GtkLabel:active,
GtkLabel:insensitive {
    background-color: transparent;
}


/***********
 * infobar *
 ***********/

.info {
}

.warning {
}

.question {
}

.error {
    color: @error_color;
}


/************
 * gtkstyle *
 ************/

.gtkstyle-fallback {
    background-color: @bg_color;
    color: @fg_color;
}

.gtkstyle-fallback:prelight {
    background-color: shade(@bg_color, 1.10);
    color: @fg_color;
}

.gtkstyle-fallback:active {
    background-color: shade(@bg_color, 0.90);
    color: @fg_color;
}

.gtkstyle-fallback:insensitive {
    background-color: shade(shade(@bg_color, 1.09), 1.04);
    color: mix(@fg_color, @bg_color, 0.5);
}

.gtkstyle-fallback:selected {
    background-color: @selected_bg_color;
    color: @fg_color;
}


/*******************
 * symbolic images *
 *******************/

.image {
    color: alpha(@fg_color, 0.5);
}

.image:hover {
    color: @fg_color;
}

.image:selected {
    color: @fg_color;
}


/*****************
 * miscellaneous *
 *****************/

.floating-bar {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@bg_color, 1.09)),
                                     color-stop (0.50, shade(@bg_color, 1.01)),
                                     to (shade(@bg_color, 0.91)));
    border-color: shade(@bg_color, 0.7);
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
}

.floating-bar.top {
    border-top-width: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.floating-bar.right {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.floating-bar.bottom {
    border-bottom-width: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.floating-bar.left {
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.floating-bar .button {
    background-color: transparent;
    background-image: none;

    border-style: none;

    -GtkButton-image-spacing: 0;
    -GtkButton-inner-border: 0;
}

.view.dim-label,
.dim-label,
.dim-label:hover,
.dim-label:focus {
    color: mix(@fg_color, @bg_color, 0.5);
}

.dim-label:selected,
.dim-label:selected:focus {
    color: mix(@fg_color, @bg_color, 0.5);
}

.dnd {
    border-color: shade(@selected_bg_color, 1.12);
    border-width: 1px;
    border-style: solid;
}

.grip {
    background-color: transparent;
}


/********
 * menu *
 ********/

* {
    -GtkMenu-horizontal-padding: 0;
    -GtkMenu-vertical-padding: 0;  
}

.primary-toolbar .button .menu,
.toolbar .menu,
.toolbar .primary-toolbar .menu,
.menu {
    padding: 3px;
    border-style: solid;
    border-width: 1px;
    border-radius: 0;
    border-color: @insensitive_text_color;
}

.menu.button:hover,
.menu.button:active,
.menu.button:active:insensitive,
.menu.button:insensitive,
.menu.button {
    background-color: @insensitive_text_color;
    background-image: none;
    border-style: solid;
}


/***********
 * menubar *
 ***********/

* {
    -GtkMenuBar-internal-padding: 0;
}

.menubar {
    -GtkWidget-window-dragging: true;
    background-color: @bg_color;
    border-style: none;
    border-color: shade(@bg_color, 0.85);
    color: @dark_fg_color;
}

.menubar.menuitem,
.menubar .menuitem {
    border-radius: 0px 0px 0px 0px;
    padding: 3px 7px 1px 7px;
}

.menubar.menuitem:hover,
.menubar .menuitem:hover,
.menubar .menuitem *:hover {
   background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@selected_bg_color, 1.3)),
                                     to (shade(@selected_bg_color, 0.9)));
    color: @dark_fg_color;
    border-style: solid;
    border-width: 1px;
    border-color: shade(@bg_color, 1.3);
}


/************
 * menuitem *
 ************/

.menuitem {
    color: @dark_fg_color;
}

GtkTreeMenu .menuitem *,
.menu .menuitem {
    border-radius: 0px;
    border-width: 1px;
    padding: 3px;
}

.menu .menuitem:active,
.menu .menuitem *:active,
.menu .menuitem:hover,
.menu .menuitem *:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                   from (shade(@selected_bg_color, 1.3)),
                                   to (shade(@selected_bg_color, 0.9)));
    border-style: solid;
    border-color: shade(@bg_color, 1.3);
}

.menu .menuitem:insensitive,
.menu .menuitem *:insensitive {
    color: mix(@dark_fg_color, @insensitive_text_color, 0.5);
    background-color: @bg_color;
}

.menuitem GtkCalendar,
.menuitem GtkCalendar.button,
.menuitem GtkCalendar.header,
.menuitem GtkCalendar.view {
    background-color: transparent;
    background-image: none;
}

.menuitem .entry {
    background-color: @base_color;
    background-image: none;
    color: @fg_color;
    border-color: shade(@bg_color, 0.7);
}

.menuitem .accelerator {
    color: alpha(@dark_fg_color, 0.6);
}

.menuitem .accelerator:hover {
    color: alpha(@fg_color, 0.8);
}

.menuitem .accelerator:insensitive {
    color: alpha(mix(@dark_fg_color, @insensitive_text_color, 0.5), 0.6);
}


/************
 * notebook *
 ************/

* {
    -GtkNotebook-initial-gap: 0;
    -GtkNotebook-tab-overlap: 1;
}

.notebook {
    padding: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: shade(@bg_color, 0.8);
    border-radius: 0;
    background-color: shade(@bg_color, 1.05);
    background-image: none;
    background-clip: border-box;   
}


.notebook GtkViewport {
    background-color: @bg_color;
    color: @fg_color;
}

.notebook tab {
    border-color: shade(@bg_color, 0.85);
    border-radius: 0;
    background-color: shade(@bg_color, 0.95);
    background-image: none;
    padding: 2px 3px;
    color: @selected_bg_color; 
}

.notebook tab:active {
    padding: 3px 3px 2px 3px;
    background-color: shade(@bg_color, 1.05);
    background-image: none;
    border-color: shade(@bg_color, 0.8);
}

.notebook tab GtkLabel {
    padding: 0px 4px 1px 4px;
    
}




.notebook tab.top:active {
    border-width: 1px 1px 0px 1px;
    box-shadow: inset 0px 1px shade(@bg_color, 1.2);
}

.notebook tab.right {
    border-radius: 0px 0px 0;
}

.notebook tab.right:active {
    border-width: 1px 1px 1px 0px;
    box-shadow: inset -1px 0px shade(@bg_color, 1.2);
}

.notebook tab.bottom {
    border-radius: 0 0 0px 0px;
}

.notebook tab.bottom:active {
    border-width: 0px 1px 1px 1px;
    box-shadow: inset 0px -1px shade(@bg_color, 1.2);
}

.notebook tab.left {
    border-radius: 0px 0 0 0px;
}

.notebook tab.left:active {
    border-width: 1px 0px 1px 1px;
    box-shadow: inset 1px 0px shade(@bg_color, 1.2);
}


/******************
 * pane separator *
 ******************/

.pane-separator {
    color: shade(@bg_color, 0.7);
    border-width: 1px;
}


/*************************
 * progressbar and scale *
 *************************/
 
* {
    -GtkProgressBar-min-horizontal-bar-height: 20;
    -GtkProgressBar-min-vertical-bar-width: 20;
    -GtkProgressBar-xspacing: 1;
    -GtkProgressBar-yspacing: 1;

    -GtkRange-trough-under-steppers: 1;    
    -GtkScale-trough-border: 1;
}

 
GtkScale,
GtkProgressBar {
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    padding: 2px;
    color: @selected_bg_color;
}

.progressbar,
.progressbar.vertical,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focus {
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    outline: 1px solid @bg_color;
    border-color: shade(@bg_color, 1.3);
}

.trough,
.trough.vertical,
.trough:active,
.trough:selected,
.trough row,
.trough row:active,
.trough row:selected,
.trough row:selected:focused {
    background-image: none;
    background-color: @insensitive_base_color;
    border-style: solid;
    border-width: 1px;
    border-color: shade(@bg_color, 0.7);
    border-radius: 0px;
}

.through:insensitive,
.trough row:insensitive {
    background-color: shade(@insensitive_text_color, 1.1);
    border-color: shade(@insensitive_fg_color, 1.1);
    color: shade(@bg_color, 0.7);
}

GtkLevelBar {
    -GtkLevelBar-min-block-width: 34;
    -GtkLevelBar-min-block-height: 3;    
}

GtkLevelBar.vertical {
    -GtkLevelBar-min-block-width: 3;
    -GtkLevelBar-min-block-height: 34;
}

.level-bar.trough {
    padding: 2px;
}

.level-bar.fill-block {
    border-width: 1px;
    border-style: solid;

    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@selected_bg_color, 1.15)),
                                     to (shade(@selected_bg_color, 0.95)));

    border-color: shade(@selected_bg_color, 0.7);
}

.level-bar.indicator-continuous.fill-block {
    padding: 2px;
    border-radius: 0px;

}

.level-bar.indicator-discrete.fill-block.horizontal {
    margin: 0 1px;
}

.level-bar.indicator-discrete.fill-block.vertical {
    margin: 1px 0;
}



.level-bar.fill-block.level-high {
    border-color: shade(@success_color, 0.85);
    background-image: linear-gradient(to bottom,
                                      shade(@success_color, 1.2),
                                      @success_color 75%,
                                      shade(@success_color, 0.95)
                                      );
}

.level-bar.fill-block.level-low {
    border-color: shade(@warning_bg_color, 0.80);
    background-image: linear-gradient(to bottom,
                                      shade(@warning_bg_color, 1.3),
                                      @warning_bg_color 75%,
                                      shade(@warning_bg_color, 0.90)
                                      );
}

.level-bar.fill-block.empty-fill-block {
    background-color: transparent;
    background-image: none;
    border-color: alpha(@fg_color, 0.1);
}

GtkScale {
    -GtkRange-slider-width: 8;
    -GtkRange-trough-border: 1;
    -GtkScale-slider-length: 14;      
}

GtkScale.vertical {
    -GtkScale-slider-length: 14;
}

GtkScale.slider {
 color: @bg_color;
 background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@bg_color, 1.2)),
                                     to (shade(@bg_color, 0.9)));
 border-radius: 0px;
}

GtkScale.slider:hover {
 background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@bg_color, 0.90)),
                                     to (shade(@bg_color, 0.95)));
}

GtkScale.slider:insensitive {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@bg_color, 1.04)),
                                     to (shade(@bg_color, 0.91)));
}

GtkScale.slider.vertical {
 color: @bg_color;
 background-image: -gtk-gradient(linear, left top, right top,
                                     from (shade(@bg_color, 1.2)),
                                     to (shade(@bg_color, 0.9)));
 border-radius: 0px;
}

GtkScale.slider.vertical:hover {
 background-image: -gtk-gradient(linear, left top, right top,
                                     from (shade(@bg_color, 0.90)),
                                     to (shade(@bg_color, 0.95)));
}

GtkScale.slider.vertical:insensitive {
    background-image: -gtk-gradient(linear, left top, right top,
                                     from (shade(@bg_color, 1.04)),
                                     to (shade(@bg_color, 0.91)));
}

GtkScale.mark {
    border-color: shade(@bg_color, 0.7);
    
}


GtkScale.trough, GtkScale.trough.horizontal,
GtkScale.trough.vertical {
    background-image: none;
    background-color: @insensitive_base_color;
    border-color: transparent;
        
}


.menubar .menuitem .scale.highlight.left,
.scale.highlight.left,
.scale.highlight.bottom {
    background-image: none;
    background-color: @insensitive_base_color;
    border-color: transparent;
}

GtkScale.trough,
.menubar .menuitem .scale.highlight.left,
.scale.highlight.left {
    border-width: 3px 0px 2px 0px;
    border-radius: 0px;  
}

GtkScale.trough.vertical,
.scale.highlight.bottom {
    border-width: 0px 2px 0px 3px;
    border-radius: 0px;
}


GtkScale.trough:insensitive,
GtkScale.trough.vertical:insensitive,
.scale.highlight.left:insensitive,
.scale.highlight.bottom:insensitive {
    background-image: none;
    background-color: shade(@bg_color, 0.9);
}

GtkScale.slider  {
    box-shadow: inset 2px 0px shade(@bg_color, 1.2),
		        inset 0px 2px shade(@bg_color, 1.2),
		        inset -2px 0px shade(@bg_color, 1.2),
		        inset 0px -2px shade(@bg_color, 1.2),
		        inset 1px 0px shade(@bg_color, 0.75),
                inset 0px 1px shade(@bg_color, 0.75),
                inset -1px 0px shade(@bg_color, 0.75),
                inset 0px -1px shade(@bg_color, 0.75);
                border-style: none;	
}

GtkScale.trough {
    box-shadow: inset 1px 0px shade(@bg_color, 0.5),
                inset 0px 1px shade(@bg_color, 0.5),
                inset -1px 0px shade(@bg_color, 0.5),
                inset 0px -1px shade(@bg_color, 0.5);
}
		
GtkScale.slider:hover {
  box-shadow: inset 2px 0px @bg_color,
		        inset 0px 2px @bg_color,
		        inset -2px 0px @bg_color,
		        inset 0px -2px @bg_color,
		        inset 1px 0px shade(@bg_color, 0.70),
                inset 0px 1px shade(@bg_color, 0.70),
                inset -1px 0px shade(@bg_color, 0.70),
                inset 0px -1px shade(@bg_color, 0.70);
}

GtkScale.slider:insensitive,
GtkScale.trough:insensitive,
.scale.highlight.left:insensitive,
.scale.highlight.bottom:insensitive {
    box-shadow: inset 1px 0px shade(@bg_color, 0.8),
                inset 0px 1px shade(@bg_color, 0.8),
                inset -1px 0px shade(@bg_color, 0.8),
                inset 0px -1px shade(@bg_color, 0.8);
}


/*************
 * scrollbar *
 *************/
 
* {
    -GtkScrollbar-activate-slider: 1;
    -GtkScrollbar-trough-border: 1;
    -GtkScrollbar-slider-width: 6;
    -GtkScrollbar-min-slider-length: 30;  
}
      
.scrollbar {
    -GtkRange-slider-width: 12;    
    -GtkRange-stepper-size: 15;
    -GtkRange-stepper-spacing: 1;
    -GtkScrollbar-has-backward-stepper: 1;
    -GtkScrollbar-has-forward-stepper: 1; 
    border-style: solid;
    }

.scrollbar.trough,
.scrollbar.trough.horizontal,
.scrollbar.trough.vertical {
    background-image: none;
    background-color: @bg_color;
    border-width: 1px;
    border-color: shade(@bg_color, 0.85);
    border-radius: 0;    
 }

.scrollbar.slider {
    border-width: 1px;
    border-color: shade(@selected_bg_color, 1.2);
    border-radius: 0;    
}

.scrollbar.button {
    border-style: none;
}

.scrollbar.button,
.scrollbar.button:active,
.scrollbar.button:hover,
.scrollbar.button:active:hover,
.scrollbar.button:insensitive {
   background-image: none;
   background-color: @bg_color;
   color: @fg_color;
   text-shadow: none;
   box-shadow: none;   
}

.scrollbar.button:insensitive {
   color: @bg_color;
}

OsThumb {
    color: shade(@bg_color, 0.7);
}

OsThumb:selected,
OsScrollbar:selected {
    background-color: @selected_bg_color;
}

OsThumb:active,
OsScrollbar:active {
    background-color: shade(@bg_color, 0.8);
}

OsThumb:insensitive,
OsScrollbar:insensitive {
    background-color: shade(@bg_color, 0.97);
}


/*******************
 * scrolled window *
 *******************/

* {
    -GtkScrolledWindow-scrollbar-spacing: 3;
    -GtkScrolledWindow-scrollbars-within-bevel: 1; 
}

GtkScrolledWindow.frame {
    border-color: shade(@bg_color, 0.7);
    border-radius: 0;
    border-style: solid;
    padding: 2px;
}


/*************
 * separators *
 *************/
 
 * {
    -GtkSeparatorMenuItem-horizontal-padding: 1px;
    -GtkMenuItem-horizontal-padding: 1;
    -GtkWidget-separator-width: 1;
    -GtkWidget-separator-height: 1;
    -GtkWidget-wide-separators: true;
    -GtkWidget-horizontal-separator: 1;
    -GtkWidget-vertical-separator: 1;
    -GtkTreeView-vertical-separator: 1;
}
 
 .separator {
    border-color: shade(@bg_color, 0.85);
    border-style: solid;
}
  
.menuitem.separator {
    -GtkMenuItem-horizontal-padding: 1;
    -GtkWidget-separator-height: 1;
    border-style: solid;
    padding: 0px;
    border-color: shade(@bg_color, 0.85);
}

GtkComboBox .separator {
	border-style: none;
}

/***********
 * sidebar *
 ***********/

.sidebar,
.sidebar.view,
.sidebar .view {
    background-color: @bg_color;
}

.sidebar .frame {
    border-width: 0px;
}


/**************
 * spinbutton *
 **************/

.spinbutton.button:active,
.spinbutton.button:insensitive,
.notebook .spinbutton.button:active,
.notebook .spinbutton.button:insensitive,
.spinbutton.button,
.notebook .spinbutton.button {
    border-radius: 0;
    border-width: 0px 0px 0px 1px;
}

.spinbutton.button:active:last-child,
.spinbutton.button:insensitive:last-child,
.notebook .spinbutton.button:active:last-child,
.notebook .spinbutton.button:insensitive:last-child,
.spinbutton.button:last-child,
.notebook .spinbutton.button:last-child {
    border-radius: 0px;
}

.spinbutton.button,
.notebook .spinbutton.button {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@bg_color, 1.09), 1.04)),
                                     color-stop (0.49, shade(shade(@bg_color, 1.01), 1.04)),
                                     color-stop (0.50, shade(@bg_color, 1.01)),
                                     to (shade(@bg_color, 0.91)));
    border-color: shade(@bg_color, 0.7);
}

.spinbutton.button:insensitive,
.notebook .spinbutton.button:insensitive {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@bg_color, 1.09), 1.04)),
                                     color-stop (0.49, shade(shade(@bg_color, 1.01), 1.04)),
                                     color-stop (0.50, shade(@bg_color, 1.01)),
                                     to (shade(@bg_color, 0.91)));
    border-color: shade(@bg_color, 0.8);

    color: shade(@bg_color, 0.7);
}

.spinbutton,
.spinbutton:hover {
    color: @fg_color;
}


/***********
 * spinner *
 ***********/

.spinner:active {
     transition: 750ms linear loop;
}


/*************
 * statusbar *
 *************/
* {
    -GtkStatusbar-shadow-type: none;
}

GtkStatusbar {
}


/**********
 * switch *
 **********/

GtkSwitch {
    border-radius: 0px;
    padding: 2px;
}

GtkSwitch.trough {
    background-image: none;
    background-color: shade(@bg_color, 0.85);
    color: @fg_color;
    border-color: shade(@bg_color, 0.7);
}

GtkSwitch.trough:active {
    background-image: none;
    background-color: shade(@selected_bg_color, 0.85);
    color: @fg_color;
    border-color: shade(@selected_bg_color, 0.7);
}

GtkSwitch.trough:insensitive {
    background-image: none;
    background-color: shade(@bg_color, 0.9);
    color: shade(@bg_color, 0.7);
    border-color: shade(@bg_color, 0.8);
}

GtkSwitch.slider {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@bg_color, 1.09), 1.04)),
                                     color-stop (0.49, shade(shade(@bg_color, 1.01), 1.04)),
                                     color-stop (0.50, shade(@bg_color, 1.01)),
                                     to (shade(@bg_color, 0.91)));
    border-style: solid;
    border-color: shade(@bg_color, 0.7);
    border-radius: 0;
}

GtkSwitch.slider:insensitive {
    border-color: shade(@bg_color, 0.8);
}


/************
 * textview *
 ************/

GtkTextView {
    background-color: @base_color;
}


/***********
 * toolbar *
 ***********/

.toolbar {
    background-color: transparent;
    border-style: solid none solid none;
    border-width: 1px;
    padding: 2px;
    border-color: shade(@bg_color, 0.85);
}

.primary-toolbar,
.primary-toolbar .toolbar,
.primary-toolbar.toolbar {
    -GtkWidget-window-dragging: true;

    background-image: none;
    background-color: @bg_color;
    color: @fg_color;
}

.primary-toolbar GtkComboBox,
.primary-toolbar .button *,
.primary-toolbar .button,
GtkCalendar.button,
GtkSwitch.slider:insensitive {
    box-shadow: none;
    border-style: solid;
}

.primary-toolbar GtkComboBox,
.primary-toolbar .button *,
.primary-toolbar .button {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    border-radius: 0px;
    border-width: 1px;
    padding: 2px;
}

.primary-toolbar .raised .button,
.primary-toolbar .raised.button,
.primary-toolbar .button:hover,
.primary-toolbar .button:active,
.primary-toolbar .button:insensitive {
    border-width: 1px;
}

.primary-toolbar GtkComboBox.combobox-entry .button,
.primary-toolbar .raised .button,
.primary-toolbar .raised.button,
.primary-toolbar .button:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@bg_color, 0.98)),
                                     to (shade(@bg_color, 0.82)));
    border-color: shade(@bg_color, 0.7);
}

.primary-toolbar .button:active {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@bg_color, 0.98)),
                                     to (shade(@bg_color, 0.82)));
    border-color: shade(@bg_color, 0.8);
}

.primary-toolbar .entry,
.primary-toolbar .entry:active,
.primary-toolbar .entry:focus {
    border-radius: 0px;
}

.primary-toolbar GtkSeparatorToolItem,
.primary-toolbar .separator,
.primary-toolbar .separator:insensitive {
    border-color: alpha(shade(@bg_color, 0.9), 0.5);
    border-style: solid;
}


/* inline-toolbar */

.inline-toolbar.toolbar {
    -GtkToolbar-button-relief: normal;

    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@bg_color, 0.93)),
                                     to (@bg_color));
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    padding: 3px 4px 4px 4px;
}

.inline-toolbar.toolbar:last-child {
    border-bottom-color: shade(@bg_color, 0.76);
    border-color: shade(@bg_color, 0.7);
    border-radius: 0 0 0px 0px;
    border-width: 0px 1px 1px 1px;
}

.inline-toolbar.toolbar .button {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@bg_color, 1.09), 1.04)),
                                     color-stop (0.49, shade(shade(@bg_color, 1.01), 1.04)),
                                     color-stop (0.50, shade(@bg_color, 1.01)),
                                     to (shade(@bg_color, 0.91)));
    border-radius: 0;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    padding: 1px;
}

.inline-toolbar.toolbar .button *:insensitive,
.inline-toolbar.toolbar GtkToolButton .button:insensitive {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@bg_color, 1.09), 1.04)),
                                     color-stop (0.49, shade(shade(@bg_color, 1.01), 1.04)),
                                     color-stop (0.50, shade(@bg_color, 1.01)),
                                     to (shade(@bg_color, 0.91)));
    border-color: shade(@bg_color, 0.8);
}

/* middle button */
.primary-toolbar .button.raised.linked,
.primary-toolbar .button.raised.linked:active,
.primary-toolbar .button.raised.linked:focus,
.primary-toolbar .button.raised.linked:focus:active,
.primary-toolbar .button.raised.linked:insensitive,
.primary-toolbar .raised.linked .button,
.primary-toolbar .raised.linked .button:active,
.primary-toolbar .raised.linked .button:focus,
.primary-toolbar .raised.linked .button:focus:active,
.primary-toolbar .raised.linked .button:insensitive,
.inline-toolbar.toolbar .button,
.inline-toolbar.toolbar .button:active,
.inline-toolbar.toolbar .button:focus,
.inline-toolbar.toolbar .button:focus:active,
.inline-toolbar.toolbar .button:insensitive,
.inline-toolbar.toolbar GtkToolButton .button,
.inline-toolbar.toolbar GtkToolButton .button:active,
.inline-toolbar.toolbar GtkToolButton .button:focus,
.inline-toolbar.toolbar GtkToolButton .button:focus:active,
.inline-toolbar.toolbar GtkToolButton .button:insensitive {
    border-right-width: 0px;
    border-left-width: 1px;
    border-radius: 0;
}

/* leftmost button */
.primary-toolbar .button.raised.linked:first-child,
.primary-toolbar .button.raised.linked:active:first-child,
.primary-toolbar .button.raised.linked:focus:first-child,
.primary-toolbar .button.raised.linked:focus:active:first-child,
.primary-toolbar .button.raised.linked:insensitive:first-child,
.primary-toolbar .raised.linked .button:first-child,
.primary-toolbar .raised.linked .button:active:first-child,
.primary-toolbar .raised.linked .button:focus:first-child,
.primary-toolbar .raised.linked .button:focus:active:first-child,
.primary-toolbar .raised.linked .button:insensitive:first-child,
.inline-toolbar.toolbar .button:first-child,
.inline-toolbar.toolbar .button:active:first-child,
.inline-toolbar.toolbar .button:focus:first-child,
.inline-toolbar.toolbar .button:focus:active:first-child,
.inline-toolbar.toolbar .button:insensitive:first-child,
.inline-toolbar.toolbar GtkToolButton:first-child .button,
.inline-toolbar.toolbar GtkToolButton:first-child .button:active,
.inline-toolbar.toolbar GtkToolButton:first-child .button:focus,
.inline-toolbar.toolbar GtkToolButton:first-child .button:focus:active,
.inline-toolbar.toolbar GtkToolButton:first-child .button:insensitive {
    border-left-width: 1px;
    border-right-width: 1px;
    border-radius: 0px 0 0 0px;
}

/* rightmost button */
.primary-toolbar .button.raised.linked:last-child,
.primary-toolbar .button.raised.linked:active:last-child,
.primary-toolbar .button.raised.linked:focus:last-child,
.primary-toolbar .button.raised.linked:focus:active:last-child,
.primary-toolbar .button.raised.linked:insensitive:last-child,
.primary-toolbar .raised.linked .button:last-child,
.primary-toolbar .raised.linked .button:active:last-child,
.primary-toolbar .raised.linked .button:focus:last-child,
.primary-toolbar .raised.linked .button:focus:active:last-child,
.primary-toolbar .raised.linked .button:insensitive:last-child,
.inline-toolbar.toolbar .button:last-child,
.inline-toolbar.toolbar .button:active:last-child,
.inline-toolbar.toolbar .button:focus:last-child,
.inline-toolbar.toolbar .button:focus:active:last-child,
.inline-toolbar.toolbar .button:insensitive:last-child,
.inline-toolbar.toolbar GtkToolButton:last-child .button,
.inline-toolbar.toolbar GtkToolButton:last-child .button:active,
.inline-toolbar.toolbar GtkToolButton:last-child .button:focus,
.inline-toolbar.toolbar GtkToolButton:last-child .button:focus:active,
.inline-toolbar.toolbar GtkToolButton:last-child .button:insensitive {
    border-left-width: 0;
    border-right-width: 1px;
    border-radius: 0 0 0 0;
}

/* single button */
.primary-toolbar.toolbar .button:only-child,
.primary-toolbar.toolbar .button:active:only-child,
.primary-toolbar.toolbar .button:focus:only-child,
.primary-toolbar.toolbar .button:focus:active:only-child,
.primary-toolbar.toolbar .button:insensitive:only-child,
.primary-toolbar.toolbar GtkToolButton:only-child .button,
.primary-toolbar.toolbar GtkToolButton:only-child .button:active,
.primary-toolbar.toolbar GtkToolButton:only-child .button:focus,
.primary-toolbar.toolbar GtkToolButton:only-child .button:focus:active,
.primary-toolbar.toolbar GtkToolButton:only-child .button:insensitive,
.inline-toolbar.toolbar .button:only-child,
.inline-toolbar.toolbar .button:active:only-child,
.inline-toolbar.toolbar .button:focus:only-child,
.inline-toolbar.toolbar .button:focus:active:only-child,
.inline-toolbar.toolbar .button:insensitive:only-child,
.inline-toolbar.toolbar GtkToolButton:only-child .button,
.inline-toolbar.toolbar GtkToolButton:only-child .button:active,
.inline-toolbar.toolbar GtkToolButton:only-child .button:focus,
.inline-toolbar.toolbar GtkToolButton:only-child .button:focus:active,
.inline-toolbar.toolbar GtkToolButton:only-child .button:insensitive {
    border-right-width: 1px;
    border-left-width: 1px;
}


/***********
 * tooltip *
 ***********/

.tooltip {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@tooltip_bg_color, 1.09)),
                                     color-stop (0.50, shade(@tooltip_bg_color, 1.01)),
                                     to (shade(@tooltip_bg_color, 0.91)));
    border-color: shade(@tooltip_bg_color, 0.7);
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;

    color: @tooltip_fg_color;
}

.tooltip * {
    background-color: transparent;
}


/************
 * treeview *
 ************/
  
GtkTreeView:hover {
    color: inherit;
    background-color: shade(@bg_color, 1.2);
    -GtkTreeView-expander-size: 14;
}

GtkTreeView:selected {
    color: inherit;
}

GtkTreeView.dnd {
    border-color: shade(@selected_bg_color, 1.12);
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
}

GtkTreeView .entry {
    background-image: none;
    border-radius: 0;
}

GtkTreeView row:nth-child(even) {
    background-color:  mix(@selected_bg_color, shade(@base_color, 0.93), 0.98);
}

GtkTreeView row:nth-child(odd) {
    background-color: shade(@base_color, 1.0);
}


/************
 * viewport *
 ************/

GtkViewport {
    background-color: transparent;
}

GtkViewport.frame {
    border-width: 0px;
}

.view {
    background-color: @base_color;
}

.view:selected,
.view:selected:focus {
    background-color: @selected_bg_color;
    color: @fg_color;
}


/********************
 * program-specific *
 ********************/

* {	
    /* Nautilus */
    -NautilusIconContainer-frame-text: 1;

    /* Pidgin */
    -GtkIMHtml-hyperlink-color: @link_color;
    -GtkIMHtml-hyperlink-visited-color: @visited_link_color;
    -GtkIMHtml-hyperlink-prelight-color: @link_color;

    /* Evolution */
    -GtkHTML-link-color: @fg_color;
    -GtkHTML-vlink-color: @fg_color;
    -GtkHTML-cite-color: @bg_color;
}
